{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "overrides": [
    { "files": "*.md", "options": { "printWidth": 90, "proseWrap": "preserve" } },
    { "files": "*.{yml,yaml}", "options": { "singleQuote": false } }
  ]
}
